@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animations" as *;

.intro-section {
	@include gradient;
	height: 100%;
	width: 100%;
	padding: 10rem 0 0 0;
	color: $white;
}
.video-box {
	position: relative;
	a {
		@include absoluteCenter;
		i {
			font-size: 6rem;
			color: $secondary;
		}
	}
}
.border-animation {
	position: absolute;
	height: 6rem;
	width: 6rem;
	border: 0.5rem solid #ffff;
	border-radius: 50%;
	left: 0%;
	animation: pulse-border 1s linear infinite;
	cursor: pointer;
	&--border-1 {
		animation-delay: 1s;
	}
	&--border-2 {
		animation-delay: 1.2s;
	}
}
